.App-header {
  background-color: #FFFFFF;
  padding: 4px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
  color: #067A46;
  text-align: center;
  position: sticky;
  top: 0;
}

.menuHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.container {
  max-width: 1500px;
  margin: auto;
  padding: 20px;
}

.menuFor {
  font-family: Agrandir,Verdana,Geneva,sans-serif;
  font-size: 32px;
  color: #242424;
  align-self: center;
}

.menuButtons{
  align-self: center;
}
.App {
  max-width: 100%;
  margin: auto;
}

.menuButtons button{
  height: 64px;
  border-radius: 4px;
  font-family: Source Sans Pro, Trebuchet MS, Helvetica, sans-serif;
  font-size: 14px;
  border: 1px solid rgb(54, 122, 6);
  background-color: white;
  color: rgb(6, 122, 70);
}

.menuButtons button:focus, .menuButtons button:active{
  background-color: rgb(199, 248, 149);
  color: rgb(6, 122, 70);
}

.menuButtons button:focus{
  border: 2px solid black;
}

.menuButtons button:hover{
  background-color: #D2F8958A;
  color: #367A06FF;
  border: 1px solid rgb(54, 122, 6);
}

.menuButtons{
  margin-bottom: 10px;
}

.foodItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
  box-sizing: border-box;
}

@media(max-width: 500px){
  .foodItems{
    grid-template-columns: 1fr;
  }
}

.foodItem {
  max-width: 360px;
  max-height: fit-content;
  background-color: #FFFFFF;
  align-self: center;
  justify-self: center;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
}

@media(max-width: 500px){
  .foodItem img{
    width: 320px;
  }
}

.foodItem:hover{
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 50%);
}

#foodItemName {
  font-family: Agrandir, Verdana, Geneva, sans-serif;
  color: #242424;
  font-size: 16px;
  letter-spacing: -0.3px;
  margin: 4px;
}

#foodItemDescription {
  font-family: Source Sans Pro, Trebuchet MS, Helvetica, sans-serif;
  line-height: 20px;
  color: #242424;
  font-size: 14px;
  letter-spacing: -0.3px;
  margin: 4px;
  text-overflow: ellipsis;
  padding-bottom: 40px;
}

.recipeModal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
}

.recipe{
  color: #367A06FF;
  font-family: Source Sans Pro, Trebuchet MS, Helvetica, sans-serif;
  padding: 20px;
  width: 50%;
  background-color: #FFFFFF;
  border-radius: 8px;
  max-height: 560px;
  overflow:auto;
}

.recipeInfo{
  font-size: 16px;
  color: black;
}
